*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: inherit;
}

body {
    /* Colors */
    --text-color: #fdf9f3;
    --background-color: #191b1c;
    --bg-light: rgb(48, 52, 54);
    --primary: #1b8de5;
    --secondary: #d12525;

    height: 100vh;
    font: 14px "Montserrat", sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: var(--background-color);
}

body::selection {
    background: var(--secondary);
}

.created-url {
    background-color: var(--secondary);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
}

.created-url::selection {
    background-color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    align-items: center;
}

#app {
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media only screen and (max-width: 400px) {
    #app {
        width: 100%;
    }

    body {
        padding: 0px 30px;
    }
}

input {
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 2px solid var(--bg-light);
    transition: border-bottom-color 0.3s ease-in-out;
    padding: 8px 0px;
}

input::placeholder {
    text-align: center;
    color: var(--bg-light);
}

input:focus {
    border-bottom-color: var(--text-color);
}

form > button {
    margin-top: 10px;
    background-color: var(--primary);
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    color: inherit;
    font-family: inherit;
}
